header h2 {
    float: right;
}

.container button {
    background-color: purple;
    color: white;
    border: 3px;
}

#welcome {
    text-align: center;
}

.highscore {
    padding: 50px 350px 50px 350px;
}